<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/sevencolor</property>
		<property name="connection.username">root</property>
		<property name="connection.password">12345</property>


		<!-- SQL dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>

		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">update</property>
		<mapping resource="hql/dao/hibernate/FourDefaultOdds.hbm.xml" />
		<mapping resource="hql/dao/hibernate/FourNumber.hbm.xml" />
		<mapping resource="hql/dao/hibernate/HonorLimit.hbm.xml" />
		<mapping resource="hql/dao/hibernate/Log.hbm.xml" />
		<mapping resource="hql/dao/hibernate/LogDetail.hbm.xml" />
		<mapping resource="hql/dao/hibernate/MakeWater.hbm.xml" />
		<mapping resource="hql/dao/hibernate/MsgPush.hbm.xml" />
		<mapping resource="hql/dao/hibernate/Notice.hbm.xml" />
		<mapping resource="hql/dao/hibernate/Order.hbm.xml" />
		<mapping resource="hql/dao/hibernate/OrderDetail.hbm.xml" />
		<mapping resource="hql/dao/hibernate/Play.hbm.xml" />
		<mapping resource="hql/dao/hibernate/PlayGroup.hbm.xml" />
		<mapping resource="hql/dao/hibernate/Res.hbm.xml" />
		<mapping resource="hql/dao/hibernate/Role.hbm.xml" />
		<mapping resource="hql/dao/hibernate/RoleRes.hbm.xml" />
		<mapping resource="hql/dao/hibernate/SevencolorLottery.hbm.xml" />
		<mapping resource="hql/dao/hibernate/ThreeDefaultOdds.hbm.xml" />
		<mapping resource="hql/dao/hibernate/ThreeNumber.hbm.xml" />
		<mapping resource="hql/dao/hibernate/TtfDefaultOdds.hbm.xml" />
		<mapping resource="hql/dao/hibernate/TwoNumber.hbm.xml" />
		<mapping resource="hql/dao/hibernate/TwoDefaultOdds.hbm.xml" />
		<mapping resource="hql/dao/hibernate/User.hbm.xml" />
		<mapping resource="hql/dao/hibernate/UserRole.hbm.xml" />

	</session-factory>

</hibernate-configuration>